[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
torch = "*"
numpy = "*"
torchvision = "*"
matplotlib = "*"
tqdm = "*"
tensorboardx = "*"

[requires]
python_version = "3.7"
